/* CSS declarations go here */
li {
  list-style: none;
}
.playlistContainer {
  
}

.playlistContainer li {
  margin-bottom: 15px;
}

.playlistContainer h1 {
  font-size: 48px;
}

.playlistContainer span {
  font-size: 36px;
}

recommend header h1 {
	padding-bottom: 5px;
	margin: 0;
	margin-top: 2rem;
}

success header h1 {
	padding-bottom: 5px;
	margin: 0;
	margin-top: 3.5rem;
	color: white;
}

success header {
	background: #2ecc71;
}

header h1 {
  padding-bottom: 15px;
  text-transform: uppercase; 
  font-size: 36px;
  margin-top: 33px;
}

.playlistContainer, .album-art {
	margin-right: 30px;
}

.trend .img-responsive {
  margin: 0 auto;
}

.trend-container {
	display: flex; 
	flex-direction: row;
	flex-wrap: wrap;
	color: white;
	background: #ecf0f1;
	justify-content: space-around;
}

.trending-genre {
	background: #2980b9;
	color: white;
	text-align: center;
	height: 7rem;
	padding-top: 1.4rem;
}

.absolute-center { 
	text-align: center;
}

#playlist-title {
	font-size: 5rem;
}

.single-trend {
	padding: 10px;
	width: 50%;
	height: 40rem;
	display:flex;
    align-items: center;
    justify-content: center;
}

.single-trend h1 {
	font-size: 56px;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.trend-image img {
	max-width: 80px;
}

.trend-description {
  flex: 0 1 50%;
}

h1, h2 {
	margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif !important;
    background-attachment: fixed;
 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
 
    padding: 0;
    margin: 0;
 
    font-size: 14px;
    min-width: 550px;
}

.art-container {
	order: 1;
	width: 60%;
	margin: 0 auto;
	margin-top: 5em;
}

.art-container img {
	max-width: 100%;
	border-radius: 1em;
	box-shadow: 0 0 5px #888888;
}

.recview {
	width: 45%;
	margin-top: 4rem;
}

.new-recommendation {
	display: flex; 
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	margin-top: 8rem;
}
 
.new-recommendation input {
	height: 10rem;
	margin: 3rem;
	margin-left: 5rem;
	font-size: 6rem;
	text-align: center;
}

.new-recommendation h1 {
	margin-bottom: 5rem;
	font-size: 5rem;
}

.track-num {
	margin-top: 2em;
	margin-right: 1em;
	color: #2980b9;
	font-weight: 
}

.messager {
    width: 90%;
    margin: 0 auto;
    font-size: 4rem;
    margin: 5rem;
    margin-top: 8.5rem;
}

.submit-footer {
	position: fixed;
	bottom: 0;
	height: 20rem;
	background: #2ecc71;
	text-align: center;
	color: white;
	width: 100%;
	font-size: 5rem;
}

.submit-footer h1 {
	font-size: 7rem;
	margin-top: 6rem;
}

.song-container {
	display: flex; 
	flex-direction: column; 
	background: white;
}

.song-information {
	order: 2;
	text-align: center;
	margin-top: 5rem;
}

.song-information h1 {
	margin-bottom: 1rem;
	font-size: 5em;
}

.song-information h2 {
	font-size: 3em;
	color: #e74c3c;
	margin-top: 2rem;
	font-weight: bold;
}

.user-information {
	order: 3;
	text-align: center;
	margin-top: 16rem;
	font-size: 4rem;
}

.user-information h3 {
	font-size: 44px;
}

.song-recommender {
	margin-top: 11rem;
}

.song-recommender img {
	width: 140px;
	height: 140px;
	margin-bottom: 2.5em;
	text-align: center;
	border-radius: 7rem;
	margin-top: 1rem;
}

.song-recommender h3 {
	font-size: 4rem;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}
 
header {
    background: #f7f7f7;
    color: black;
    text-align: center;
    padding: 20px 15px 15px 15px;
    position: relative;
    height: 140px;
    font-size: .5rem;
}

ul {
	-webkit-padding-start: 0;
}

.recommendation {
	width: 90%;
	margin: 0 auto; 
	height: 200px; 
	background: white;
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #ecf0f1;
}

.friend {
	width: 90%;
	margin: 0 auto; 
	height: 200px; 
	background: white;
	margin-top: 10px;
	display: flex;
	border-bottom: 1px solid #ecf0f1;
}

.friend-option {
	width: 60% !important; 
	font-size: 3em;
}

.playlist-options {
	order: 3;
	width: 40%;
	margin-top: 7rem;
}

.playlist-options h1 {
	text-align: right; 
	font-size: 5rem;
}

.friend-option h3 {
	font-size: 1.2em !important;
	margin-top: 6.5rem !important;
}

.recommendation img {
	margin-top: 1.6em;
	width: 140px;
	height: 140px;
	order: 1;
	border-radius: .5em;
}

.friend img {
	margin-top: 0.6em;
	width: 140px;
	height: 140px;
	order: 1;
	border-radius: .5em;
}


.album-art {
	width: 15%; 
	text-align: center;
}

.details {
	order: 2;
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

recommend h2, success h2 {
	font-size: 1.5rem;
	margin: 0;
}

.details h1 {
	margin-top: 30px;
	font-size: 3.5em;
	font-weight: bolder;
	margin-bottom: 0;
}

.details h2 {
	margin-top: 1em;
    font-size: 1.9em;
	color: #7f8c8d;
}

.details h3 {
	margin-top: 0;
	font-size: .8em;
}

.recommender {
	order: 3;
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


.recommender h3 {
	font-size: 1.5em;
	margin-top: 3.8em;
}

.recommender img {
	border-radius: 5em;
} 

.footer-menu {
  position: fixed;
  bottom: 0;
  padding: 0;
  width: 100%; 
  margin: 0;
  padding-bottom: 1em;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  
  justify-content: space-around;
}

.flex-item {
  background: black;
  padding: 5px;
  width: 18%;
  height: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

