/* CSS declarations go here */
li {
  list-style: none;
}
.playlistContainer {
  
}

.playlistContainer li {
  margin-bottom: 15px;
}

.playlistContainer h1 {
  font-size: 48px;
}

.playlistContainer span {
  font-size: 36px;
}

recommend header h1 {
	padding-bottom: 5px;
	margin: 0;
}

header h1 {
  padding-bottom: 15px;
  text-transform: uppercase; 
  font-size: 30px;
}

.trend .img-responsive {
  margin: 0 auto;
}

.trend {
  height: 335px;
  width: 335px;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trend-description {
  resize: vertical;
  overflow: auto;
}

h1, h2 {
	margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif !important;
    background-color: #95a5a6;
    background-attachment: fixed;
 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
 
    padding: 0;
    margin: 0;
 
    font-size: 14px;
}
 
.container {
    max-width: 100%;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}
 
header {
    background: #f7f7f7;
    color: black;
    text-align: center;
    padding: 20px 15px 15px 15px;
    position: relative;
    height: 88px;
    font-size: .5rem;
}

ul {
	-webkit-padding-start: 0;
}

.recommendation {
	width: 90%;
	margin: 0 auto; 
	height: 100px; 
	background: white;
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #ecf0f1;
}

img {
	width: 80px;
	height: 80px;
}

.recommendation img {
	margin-top: .5em;
	order: 1;
	border-radius: .5em;
}

.album-art {
	width: 15%; 
	text-align: center;
}

.details {
	order: 2;
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

recommend h2 {
	font-size: 1.5rem;
	margin: 0;
}

.details h1 {
	margin-top: 10px;
	font-size: 1.8em;
	font-weight: bolder;
	margin-bottom: 0;
}

.details h2 {
	margin-top: .3em;
	font-size: .9em;
	color: #7f8c8d;
}

.details h3 {
	margin-top: 0;
	font-size: .8em;
}

.recommender {
	order: 3;
	width: 30%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.recommender h3 {
	font-size: 1em;
	margin-top: 2.9em;
}

.recommender img {
	border-radius: 3em;
} 
