/* CSS declarations go here */
.selected {
  border-color: green !important;
  border-style: solid;
}
li {
  list-style: none;
}

article {
/*  just a fancy border  */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  background: rgba(0,0,0,0.5);
}

#logo {
	position: absolute;
	top: 2%; 
	left: 3%; 
	height: 5%; 
	z-index: 1000;
}

.overlay-screen {
	width: 100%; 
	height: 100%; 
  	background: url("images/giffy.gif") no-repeat center center fixed; 
 	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

article {
 	z-index: 2;
	background: rgba(0,0,0,0.7); 
}

article h1 {
  position: absolute;
  top: 30%;
  width: 100%;
  font-size: 16rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

article h2 {
  position: absolute;
  top: 42%;
  width: 100%;
  font-size: 36px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#login-buttons {
	margin: auto;
    width: 100%;
    font-size: 8rem;
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 70%; 
}

#login-buttons a {
	text-decoration: none;
	color: white;
}

#login-dropdown-list {
    width: 60%;
    padding: 2rem;
    font-size: 3rem;
    top: -200%;
    margin-left: 20%;
}

.playlistContainer li {
  margin-bottom: 15px;
}

.playlistContainer h1 {
  font-size: 48px;
}

.playlistContainer span {
  font-size: 36px;
}

recommendation header h1 {
	padding-bottom: 5px;
	margin: 0;
}

success header h1 {
	padding-bottom: 5px;
	margin: 0;
	margin-top: 3.5rem;
	color: white;
}

success header {
	background: #2ecc71;
}

header h1 {
  padding-bottom: 15px;
  text-transform: uppercase; 
  font-size: 36px;
  text-align: center;
  line-height: 90px;
}

.playlistContainer, .album-art {
	margin-right: 30px;
}

.trend .img-responsive {
  margin: 0 auto;
}

.trend-container {
	display: flex; 
	flex-direction: row;
	flex-wrap: wrap;
	color: white;
	background: #ecf0f1;
	justify-content: space-around;
}

.trending-genre {
	background: #2980b9;
	color: white;
	text-align: center;
	height: 10rem;
	padding-top: 1.4rem;
}

.absolute-center { 
	text-align: center;
}

#playlist-title {
	font-size: 5rem;
}

.single-trend {
	padding: 10px;
	width: 50%;
	height: 26em;
	display:flex;
    align-items: center;
    justify-content: center;
}

.single-trend h1 {
	font-size: 56px;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.trend-image img {
	max-width: 80px;
}

.trend-description {
  flex: 0 1 50%;
}

h1, h2 {
	margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif !important;
    background-attachment: fixed;
 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
 
    padding: 0;
    margin: 0;
 
    font-size: 14px;
    min-width: 550px;
}

.art-container {
	order: 1;
	width: 100%;
}

.art-container img {
	width: 100%;
	box-shadow: 0 0 5px #888888;
}

.add-playlist {
	position: absolute;
	top: 0.2em;
	right: 1em;
	font-size: 6rem;
}

.recview {
	width: 45%;
	margin-top: 4rem;
}

.new-task {
	width: 100%;
}

.new-recommendation {
	display: flex; 
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	margin-top: 8rem;
}
 
.new-recommendation input {
	height: 10rem;
	margin: 3rem;
	margin-left: 5rem;
	font-size: 6rem;
	text-align: center;
}

.new-recommendation h1 {
	margin-bottom: 5rem;
	font-size: 5rem;
}

.track-num {
	margin-top: 2em;
	margin-right: 1em;
	color: #2980b9;
	font-weight: 
}

.messager {
    width: 90%;
    margin: 0 auto;
    font-size: 4rem;
    margin: 5rem;
    margin-top: 8.5rem;
}

.submit-footer {
	position: fixed;
	bottom: 0;
	height: 20rem;
	background: #2ecc71;
	text-align: center;
	color: white;
	width: 100%;
	font-size: 5rem;
}

.submit-footer h1 {
	font-size: 7rem;
	margin-top: 6rem;
}

.ng-scope { 
	height: 100%;
}

.song-container {
	height: 85%;
	justify-content: space-between;
	display: flex; 
	flex-direction: column; 
	background: white;
}

.song-information {
	order: 2;
	text-align: center;
	margin-top: 5rem;
}

.song-information h1 {
	margin-bottom: 1rem;
	font-size: 3em;
}

.song-information h2 {
	font-size: 3em;
	color: #e74c3c;
	margin-top: 1.5rem;
	font-weight: bold;
}

.user-information {
	order: 3;
	text-align: center;
	font-size: 4rem;
}

.user-information h3 {
	font-size: 2.2rem;
}

.song-recommender {
	margin-top: 11rem;
  display: inline-flex;
}

.song-recommender img {
	width: 140px;
	height: 140px;
	margin-bottom: 2.5em;
	text-align: center;
	border-radius: 7rem;
	margin-top: 1rem;
  margin-right: .5em;
  margin-left: .5em;
}

.song-recommender h3 {
	font-size: 4rem;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}
 
header {
    background: #f7f7f7;
    color: black;
    text-align: center;
    padding: 20px 15px 15px 15px;
    position: relative;
    height: 90px;
    font-size: .5rem;
}

ul {
	-webkit-padding-start: 0;
}

.add-to-default {
	position: absolute; 
	bottom: 0; 
	background: #27ae60; 
	width: 100%;
	color: white;
	height: 5%;
	font-size: .3em;
}

.add-to-default h1 {
	margin-top: .5em;
}

.recommendation {
	width: 90%;
	margin: 0 auto; 
	height: 200px; 
	background: white;
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #ecf0f1;
}

.friend {
	width: 90%;
	margin: 0 auto; 
	height: 200px; 
	background: white;
	margin-top: 10px;
	display: flex;
	border-bottom: 1px solid #ecf0f1;
}

.friend-option {
	width: 60% !important; 
	font-size: 3em;
}

.playlist-options {
	order: 3;
	width: 40%;
	margin-top: 7rem;
}

.playlist-options h1 {
	text-align: right; 
	font-size: 5rem;
}

.friend-option h3 {
	font-size: 1.2em !important;
	margin-top: 6.5rem !important;
}

.recommendation img {
	margin-top: 1.6em;
	width: 140px;
	height: 140px;
	order: 1;
	border-radius: .5em;
}

.friend img {
	margin-top: 0.6em;
	width: 140px;
	height: 140px;
	order: 1;
	border-radius: .5em;
}


.album-art {
	width: 15%; 
	text-align: center;
}

.details {
	order: 2;
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

recommendation h2, success h2 {
	font-size: 1.5rem;
	margin: 0;
}

.details h1 {
	margin-top: 30px;
	font-size: 2.4em;
	font-weight: bolder;
	margin-bottom: 0;
}

.details h2 {
	margin-top: 1em;
    font-size: 1.9em;
	color: #7f8c8d;
}

.details h3 {
	margin-top: 0;
	font-size: .8em;
}

.recommender {
	order: 3;
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}


.recommender h3 {
	font-size: 1.6em;
	color: #2fb80d;
	margin-top: 4.5em;
}

.recommender img {
	border-radius: 5em;
} 

.footer-menu {
  position: fixed;
  bottom: 0;
  padding: 0;
  width: 100%; 
  margin: 0;
  list-style: none;
  background: #787878;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  
  justify-content: space-around;
}

.flex-item {
  padding: 5px;
  width: 20%;
  height: 150px;
  margin-top: 10px;
  
  line-height: 200px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.icon-view {
	background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position-x: 3em;
    background-position-y: .7em;
}

.home-icon {
	background-image: url(images/home.png);
}

.playlists-icon {
	background-image: url(images/trend.png);
    background-size: 75px 50px;
    background-position-x: 2.7em;
    background-position-y: 1em;
}

create-playlist header {
	background: white;
}

create-playlist body {
	background: black;
}

.recommend-icon {
    width: 17%;
    line-height: 320px;
    margin: -6% 6% 0 6%;
    border: solid 8px white;
    border-radius: 8rem;
    background: #27ae60;
}

.from-recommender {
	font-size: .55em;
}

.back-button {
    height: 4em;
    position: absolute;
    top: 6.5em;
    left: 10em;
}

.trending-icon {
	background-image: url(images/trending.png);
    background-size: 70px 70px;
    background-position-y: 0.5em;
}

.settings-icon {
	background-image: url(images/setting.png);

}
