<header>
  <h1>Sent</h1>
</header>
 
<div class="song-container">
  <div class="art-container">
    <img src="https://pixy.org/images/placeholder.png"/>
  </div>
  <div class="song-information">
    <h1>{{$ctrl.recommendation.title}}</h1>
    <h2>{{$ctrl.recommendation.artist}}</h2>
  </div>
  <div class="user-information">
    <h3>{{$ctrl.recommendation.message}}</h3>
    <div ng-repeat="friend in $ctrl.selectedFriends" class="song-recommender">
      <img src="{{friend}}"/>
    </div>
  </div>
  <div class="submit-footer" ui-sref="home">
  <h1>Back To Home</h1>
</div>
</div>