<header>
  <h1>YOUR STACK</h1>
</header>
<ul>
  <div class="recommendation" ng-repeat="rec in $ctrl.recommendations" ui-sref="recommendation({recId: rec._id})">
  	<div class="album-art">
  		<img src="{{rec.albumArtURL}}"/>
	</div>
  	<div class="details">
  	   <h1>{{rec.title}}</h1>
	     <h2>{{rec.artist}}</h2>
  	</div>
  	<div class="recommender">
	  	<h3>{{ $ctrl.findUsername(rec.from_user) }}</h3>
  	</div>
  </div>
</ul>

<div class="fixed-action-btn horizontal click-to-toggle">
      <a class="btn-floating btn-large fab red">
        <i class="large material-icons">add</i>
      </a>
      <ul class="fab-menu">
        <li><a class="btn-floating fab-click green" ui-sref="createPlaylist"><i class="large material-icons send-icons">playlist_add</i></a></li>
        <li><a class="btn-floating fab-click blue" ui-sref="createRecommendation"><i class="large material-icons send-icons">send</i></a></li>
      </ul>
    </div>