<header>
  <h1>Hi, {{$ctrl.currentUser.services.facebook.name}}!</h1>
</header>
 
<ul>
  <div class="recommendation" ng-repeat="rec in $ctrl.recommendations" ui-sref="recommendation({recId: rec._id})">
  	<div class="album-art">
  		<img src="{{rec.albumArtURL}}"/>
	</div>
  	<div class="details">
  	   <h1>{{rec.title}}</h1>
	     <h2>{{rec.artist}}</h2>
  	</div>
  	<div class="recommender">
	  	<h3>{{ $ctrl.findUsername(rec.from_user) }}</h3>
  	</div>
  </div>
</ul>

<ul class="footer-menu">
  <li class="flex-item icon-view home-icon">Home</li>
  <li ui-sref="playlists" class="flex-item icon-view playlists-icon">Playlists</li>
  <li ui-sref="createRecommendation" class="flex-item icon-view recommend-icon">Recommend</li>
  <li ui-sref="groups" class="flex-item icon-view trending-icon">Groups</li>
  <li class="flex-item icon-view settings-icon">Settings</li>
</ul>