<header>
  <h1>Recommendations</h1>
</header>
 
<ul>
  <div class="recommendation" ng-repeat="rec in $ctrl.users" ng-click="$ctrl.viewRecommendation(rec)" ui-sref="recommendation({recId: rec.name})">
  	<div class="album-art">
  		<img src="{{rec.recs.img}}"/>
	</div>
  	<div class="details">
  	   <h1>{{rec.recs.recm.track}}</h1>
	     <h2>{{rec.recs.recm.artist}}</h2>
  	</div>
  	<div class="recommender">
	  	<h3>❤️ {{rec.name}}</h3>
  	    <img src="{{rec.img}}"/>
  	</div>
  </div>
</ul>

<ul class="footer-menu">
  <li class="flex-item">Home</li>
  <li ui-sref="playlists" class="flex-item">Play</li>
  <li ui-sref="createRecommendation" class="flex-item">Rec</li>
  <li ui-sref="trending" class="flex-item">Trend</li>
  <li class="flex-item">Set</li>
</ul>