<div class="trend-container">
	<div class="single-trend" ui-sref="trendingList" ng-repeat="trend in $ctrl.trends" style="background-color: {{trend.color}}">
		<div class="trend-description">
		    <h1 class='absolute-center'>{{trend.text}}</h1>
<!-- 		    <div class="trend-image">
		      <img src="{{trend.imgURL}}">
		    </div> -->
		</div>
	</div>
</div>

<ul class="footer-menu">
  <li ui-sref="home" class="flex-item icon-view home-icon">Home</li>
  <li ui-sref="playlists" class="flex-item icon-view playlists-icon">Playlists</li>
  <li ui-sref="createRecommendation" class="flex-item icon-view recommend-icon">Recommend</li>
  <li ui-sref="trending" class="flex-item icon-view trending-icon">Trending</li>
  <li class="flex-item icon-view settings-icon">Settings</li>
</ul>