<header>
  <img ui-sref="home" class="back-button" src="images/back.png"/>
  <h1>{{$ctrl.users[0].recs.recm.track}}</h1>
  <h2>{{$ctrl.users[0].recs.recm.artist}}</h2>
</header>
<div class="song-container">
  <div class="art-container">
    <img src="{{$ctrl.users[0].recs.img}}"/>
  </div>
  <div class="song-information">
    <h1>{{$ctrl.users[0].recs.recm.track}}</h1>
    <h2>{{$ctrl.users[0].recs.recm.artist}}</h2>
  </div>
  <div class="user-information">
    <h3>This is great!</h3>
    <div class="song-recommender">
      <img src="{{$ctrl.users[0].img}}"/>
      <h3>{{$ctrl.users[0].name}}</h3>
    </div>
  </div>
</div>