<header>
  <h1 class='text-center'>Playlists</h1>
</header>

<ul class="playlistContainer">
  <div class="recommendation" ng-repeat="playlist in $ctrl.playlists">
     <div class="album-art">
        <img src="{{playlist.albumArtURL}}"/>
    </div>
    <div class="details">
       <h1 id="playlist-title">{{playlist.title}}</h1>
       <h2>{{playlist.recCount}} items</h2>
    </div>
    </div>
  </div>
</ul>

<!-- <form class="new-task" ng-submit="$ctrl.addPlaylist($ctrl.newPlaylist)">
  <input ng-model="$ctrl.newPlaylist.title" type="text" name="title" placeholder="Type to add new title" />
  <input ng-model="$ctrl.newPlaylist.recCount" type="text" name="recCount" placeholder="Type to add count" />
  <input ng-model="$ctrl.newPlaylist.albumArtURL" type="text" name="albumArtURL" placeholder="Type to add album art" />
  <input type="submit"/>
</form> -->